.container {
    position: relative;
    height: 400px;
    width: 80%;
    padding: 10px;
    margin: 30px auto;
    display: flex;
    gap:0 15px;
    box-shadow: 0 0 8px #ccc;
}

.container .box {
    height: 150px;
    width: 100px;
    background: #eeeff2;
    border-left: 10px dotted #D0D0FF;
    font-size: 40px;
}

.container .box:last-child {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.container .box:hover {
    cursor: pointer;
    background: yellow;
    color: goldenrod;
}